<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD队列组的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C1CF9A41F3B0B0E002F7F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1CF9BD1F3B0B0F002F7F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1CF9C81F3B0B0F002F7F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
